<div class="row book-shelf-list">
  <div class="col s12 m6 l4" *ngFor="let book of books | search: searchBox">
    <div class="card">
      <div class="card-image">
        <img [src]="book.Thumbnail">
        <a class="btn-floating halfway-fab waves-effect waves-light yellow edit"
           routerLink="book/update/{{book.Slug}}">
          <i class="material-icons">edit</i>
        </a>
        <a class="btn-floating halfway-fab waves-effect waves-light blue view"
           routerLink="book/{{book.Slug}}">
          <i class="material-icons">search</i>
        </a>
        <a class="btn-floating halfway-fab waves-effect waves-light red remove"
           (click)="removeBook(book.id)">
          <i class="material-icons">close</i>
        </a>
      </div>
      <div class="card-content">
        <p>{{book.Author}}</p>
        <span class="card-title">{{book.Title}}</span>
      </div>
    </div>
  </div>
</div>
